################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/ZONE.DOMAIN/bin
/ZONE.DOMAIN/obj
/ZONE.Entity/bin
/ZONE.Entity/obj
/ZONE.EntityDto/bin
/ZONE.EntityDto/obj
/ZONE.Repository/bin
/ZONE.Repository/obj
/ZONE_API/bin
/ZONE_API/obj
